<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Eldritch Keys</title>
</head>
<body>
<nav>
    <a href="/">Home</a>
    <a href="/org">Organisation Structure</a>
    <a href="/finance">Financial Accounting</a>
    <a href="/materials">Materials Management</a>
    <a href="/sales">Sales and Delivery</a>
</nav>
<div>
    <h3>Business Details</h3>
    <hr>
    <ul>
        <li>Company Name - Eldritch Keys</li>
        <li>Industry - Spooky Instrument Manufacturing</li>
        <li>Locations - Cornwall, England</li>
        <li>Business Model - Make to Order</li>
        <li>ERP Modules - Financial Accounting, Materials Management, Sales and Distribution</li>
    </ul>
    <hr>
</div>
</body>
</html>