<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Eldritch Keys</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
</head>
<body>
<header class="banner">
    <h1>Eldritch Keys</h1>
</header>
<nav>
    <a href="/">Home</a>
    <a href="/org">Organisation Structure</a>
    <a href="/data">ERP Modules</a>
</nav>
<div>
    <h3>Organisational Structure</h3>
    <hr>
    <table>
        <thead>
        <tr>
            <th>Scope</th>
            <th>Code</th>
            <th>Description</th>
            <th>Notes</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="organisation : ${organisation}">
            <td th:text="${organisation.scope}"></td>
            <td th:text="${organisation.code}"></td>
            <td th:text="${organisation.description}"></td>
            <td th:text="${organisation.notes}"></td>
        </tr>
        </tbody>
    </table>
    <hr>
</div>
</body>
</html>